@use '../../style.scss';

$cell-size: 15px;

.github-preview {
  display: flex;
  justify-content: center;
  height: 100%;
  border: 1px solid style.$highlight-color-2;
  border-radius: 5px;
  padding-top: 30px;
  margin-top: 30px;
  transition: 0.3s;

  .github-preview-content {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .github-grid {
    display: grid;
    // position: relative;
    grid-template-rows: repeat(7, $cell-size);
    grid-auto-flow: column;
    row-gap: calc(#{$cell-size}/ 3);
    column-gap: calc(#{$cell-size}/ 3);

    .cell {
      height: 100%;
      width: $cell-size;
      border-radius: calc(#{$cell-size}/ 4);

      .cell-modal {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 50px;
        right: 100px;
        height: 30px;
        width: 200px;
        border-radius: 5px;
        background-color: #111;

        p {
          font-size: 0.8rem;
        }
      }

      .hidden {
        display: none;
      }

      .visible {
        display: flex;
      }
    }

    .cell:hover {
      cursor: pointer;
      transform: scale(1.15);
    }

    .empty {
      background-color: black;
    }

    .filled {
      background-color: style.$highlight-color-1;
    }
  }
}

.collapsed {
  padding: 10px;
  width: 30%;
  transition: 0.3s;

  button {
    font-size: 1em;
  }
}

.collapsed:hover {
  background-color: style.$highlight-color-1;
  a {
    color: black;
  }
}

.expanded {
  padding: 50px;
  height: 150px;
  width: 90%;
}

.close-btn {
  position: absolute;
  right: -40px;
  top: -40px;
}
