.modal {
  position: fixed;
  display: flex;
  z-index: 1;

  button {
    position: absolute;
    left: 0;
    top: 0;
    margin: 10px 0 0 10px;
  }
}

.visible {
  display: flex;
}

.hidden {
  display: none;
}
