@use '../../style.scss' as base;

.skills {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    height: 100%;

    .skills-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;

        svg {
            font-size: 5em;
            margin-bottom: 10px;
        }
    }
}